.cart{
    max-width: 1440px;
    margin: 0 auto;
}
.cart_body{
    margin: 4rem 6rem;
}
.att_container{
    display: flex;
    margin-bottom: 1rem;
}
.att_item{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(168, 160, 160);
    background: rgba(168, 160, 160, .2);
    color: rgb(168, 160, 160);
}
.selectedAttItem{
    background: white;
    color: black;
    border: 1px solid black;
}
.selectedAttItemSw{
    border: 1px solid black;
}
.att_item:not(:last-child){
    margin-right: 0.5rem;
}