header{
    height: 80px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    position: relative;
}
header > div{
    flex: 1;
}
.header__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    box-sizing: border-box;
}